* {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Inconsolata", monospace;
}

.App {
  header,
  footer,
  main,
  nav,
  aside {
    display: flex;
    outline: 1px dotted;
  }

  header,
  footer {
    align-items: center;
    justify-content: center;
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    a {
      padding: 1rem;
      margin: 1rem;
      border-bottom: 1px;
      width: 100%;
    }

    @media (max-width: 768px) {
      flex-direction: row;
    }
  }
}

// Theming

body {
  background-color: black;
  color: white;
}

header,
footer,
main,
nav,
aside {
  padding: 1rem;
}

nav a {
  color: #fff;
}

nav a {
  margin: 0 2px;
}

// light theme
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }

  nav a {
    color: black;
  }
}
